{
  "commitInterval" : 30,
  "requestTimeout" : 30,

  "chunkSize" : 50,
  "maxSystemChunkSearches" : 100,
  "maxWorldSearches" : 500,
  "xyCoordRange" : [-100000000, 100000000],
  "zCoordRange" : [-10000000, 10000000],
  "numCoordHashes" : 4,

  "systemProbability" : 0.01,
  "orbitalLevels" : 12,

  "constellationProbability" : 0.8,
  "constellationLineCountRange" : [4, 7],
  "constellationMaxTries" : 500,
  "minimumConstellationLineLength" : 5.0,
  "maximumConstellationLineLength" : 25.0,
  "minimumConstellationMagnitude" : 5,
  "minimumConstellationLineCloseness" : 4,

  "radialSlots" : 12,
  "twinkleFrames" : 4,
  "twinkleScale" : 0.5,

  "skyBrightnessBase" : 0.7843137,

  "maxRecentlyVisitedSystems" : 3,

  "sectors" : [
    {
      "id" : "alpha",
      "name" : "Alpha Sector",
      "sectorSeed" : 71707887027,
      "prefix" : "Alpha",
      "sectorSymbol" : "/celestial/sector/1.png",
      "hueShift" : -30,

      "worldParameters" : {
        "threatLevel" : [1, 1],
        "unlockedBiomes" : [ "arid", "desert", "forest", "snow", "moon", "barren", "asteroidfield" ]
      }
    },

    {
      "id" : "beta",
      "name" : "Beta Sector",
      "sectorSeed" : 912044941247,
      "prefix" : "Beta",
      "sectorSymbol" : "/celestial/sector/2.png",
      "hueShift" : 0,

      "worldParameters" : {
        "threatLevel" : [2, 2],
        "unlockedBiomes" : [ "arid", "desert", "savannah", "forest", "snow", "moon", "jungle", "barren", "asteroidfield" ]
      }
    },

    {
      "id" : "gamma",
      "name" : "Gamma Sector",
      "sectorSeed" : 877461781495,
      "prefix" : "Gamma",
      "sectorSymbol" : "/celestial/sector/3.png",
      "hueShift" : 30,

      "worldParameters" : {
        "threatLevel" : [3, 3],
        "unlockedBiomes" : [ "arid", "desert", "savannah", "forest", "snow", "moon", "jungle", "grasslands", "barren", "asteroidfield" ]
      }
    },

    {
      "id" : "delta",
      "name" : "Delta Sector",
      "sectorSeed" : 914461284455,
      "prefix" : "Delta",
      "sectorSymbol" : "/celestial/sector/4.png",
      "hueShift" : 60,

      "worldParameters" : {
        "threatLevel" : [4, 4],
        "unlockedBiomes" : [ "arid", "desert", "savannah", "forest", "snow", "moon", "jungle", "grasslands", "magma", "tentacles", "tundra", "volcanic", "barren", "asteroidfield" ]
      }
    },

    {
      "id" : "sectorx",
      "name" : "X Sector",
      "sectorSeed" : 427469981495,
      "prefix" : "X",
      "sectorSymbol" : "/celestial/sector/x.png",
      "hueShift" : 90,
      "pvpForce" : true,

      "worldParameters" : {
        "threatLevel" : [5, 10],
        "unlockedBiomes" : [ "arid", "desert", "savannah", "forest", "snow", "moon", "jungle", "grasslands", "magma", "tentacles", "tundra", "volcanic", "barren", "asteroidfield" ]
      }
    }
  ],

  "planetHorizons" : {
    "biomeTextures" : "/celestial/system/horizon/textures/<biome>_<selector>.png",
    "atmosphereTextures" : "/celestial/system/horizon/atmosphere/atmosphere_<selector>.png",
    "shadowTextures" : "/celestial/system/horizon/shadow/shadow_<selector>.png",
    "maskTextures" : "/celestial/system/horizon/masks/<mask>_<selector>.png",
    "liquidTextures" : "/celestial/system/horizon/liquids/<liquid>_<selector>.png",
    "maskRange" : [0, 40],
    "maskPerPlanetRange" : [1, 3]
  },

  "systemTypes" : {
    "RedDwarf" : {
      "selectionWeight" : 2.0,
      "planetaryBodyProbability" : 0.2,
      "baseParameters" : {
        "image" : "/celestial/system/red_sun.png",
        "twinkleTime" : [0.5, 1.5]
      },
      "variationParameters" : [
        {
          "magnitude" : 1,
          "description" : "\u7D05\u6B21\u77EE\u661F",
          "imageScale" : 0.12,
          "twinkleFrames" : "/celestial/stars/star5pxRed.png",
          "twinkleBackground" : "/celestial/stars/backgrounds/star5px.png",
          "brightness" : [1, 1],
          "temperature" : [6500, 6500]
        },
        {
          "magnitude" : 2,
          "description" : "\u7D05\u77EE\u661F",
          "imageScale" : 0.16,
          "twinkleFrames" : "/celestial/stars/star7pxRed.png",
          "twinkleBackground" : "/celestial/stars/backgrounds/star7px.png",
          "brightness" : [1, 1],
          "temperature" : [6500, 6500]
        },
        {
          "magnitude" : 3,
          "description" : "\u5DE8\u7D05\u77EE\u661F",
          "imageScale" : 0.20,
          "twinkleFrames" : "/celestial/stars/star11pxRed.png",
          "twinkleBackground" : "/celestial/stars/backgrounds/star11px.png",
          "brightness" : [1, 1],
          "temperature" : [6500, 6500]
        }
      ],
      "orbitRegions" : [
        [ [1, 2], "Mild" ],
        [ [3, 12], "Cold" ]
      ]
    },

    "YellowDwarf" : {
      "selectionWeight" : 3.0,
      "planetaryBodyProbability" : 0.6,
      "baseParameters" : {
        "image" : "/celestial/system/yellow_sun.png",
        "twinkleTime" : [0.5, 1.5]
      },
      "variationParameters" : [
        {
          "magnitude" : 3,
          "description" : "\u5C0F\u9EC3\u77EE\u661F",
          "imageScale" : 0.24,
          "twinkleFrames" : "/celestial/stars/star11pxYellow.png",
          "twinkleBackground" : "/celestial/stars/backgrounds/star11px.png",
          "brightness" : [1, 1],
          "temperature" : [6500, 6500]
        },
        {
          "magnitude" : 4,
          "description" : "\u4E2D\u9EC3\u77EE\u661F",
          "imageScale" : 0.28,
          "twinkleFrames" : "/celestial/stars/star13pxYellow.png",
          "twinkleBackground" : "/celestial/stars/backgrounds/star13px.png",
          "brightness" : [1, 1],
          "temperature" : [6500, 6500]
        },
        {
          "magnitude" : 5,
          "description" : "\u5DE8\u9EC3\u77EE\u661F",
          "imageScale" : 0.32,
          "twinkleFrames" : "/celestial/stars/star15pxYellow.png",
          "twinkleBackground" : "/celestial/stars/backgrounds/star15px.png",
          "brightness" : [1, 1],
          "temperature" : [6500, 6500]
        }
      ],
      "orbitRegions" : [
        [ [2, 3], "Hot" ],
        [ [4, 6], "Mild" ],
        [ [7, 12], "Cold" ]
      ]
    },

    "RedGiant" : {
      "selectionWeight" : 1.0,
      "planetaryBodyProbability" : 0.4,
      "baseParameters" : {
        "image" : "/celestial/system/red_sun.png",
        "twinkleTime" : [0.5, 1.5]
      },
      "variationParameters" : [
        {
          "magnitude" : 6,
          "description" : "\u7D05\u5DE8\u661F",
          "imageScale" : 0.40,
          "twinkleFrames" : "/celestial/stars/star17pxRed.png",
          "twinkleBackground" : "/celestial/stars/backgrounds/star17px.png",
          "brightness" : [1, 1],
          "temperature" : [6500, 6500]
        },
        {
          "magnitude" : 7,
          "description" : "\u7D05\u4EAE\u5DE8\u661F",
          "imageScale" : 0.44,
          "twinkleFrames" : "/celestial/stars/star19pxRed.png",
          "twinkleBackground" : "/celestial/stars/backgrounds/star19px.png",
          "brightness" : [1, 1],
          "temperature" : [6500, 6500]
        },
        {
          "magnitude" : 8,
          "description" : "\u7D05\u8D85\u5DE8\u661F",
          "imageScale" : 0.48,
          "twinkleFrames" : "/celestial/stars/star21pxRed.png",
          "twinkleBackground" : "/celestial/stars/backgrounds/star21px.png",
          "brightness" : [1, 1],
          "temperature" : [6500, 6500]
        }
      ],
      "orbitRegions" : [
        [ [3, 3], "Hot" ],
        [ [4, 9], "Mild" ],
        [ [10, 12], "Cold" ]
      ]
    },

    "BlueGiant" : {
      "selectionWeight" : 1.0,
      "planetaryBodyProbability" : 0.4,
      "baseParameters" : {
        "image" : "/celestial/system/blue_sun.png",
        "twinkleTime" : [0.5, 1.5]
      },
      "variationParameters" : [
        {
          "magnitude" : 6,
          "description" : "\u85CD\u5DE8\u661F",
          "imageScale" : 0.40,
          "twinkleFrames" : "/celestial/stars/star17pxBlue.png",
          "twinkleBackground" : "/celestial/stars/backgrounds/star17px.png",
          "brightness" : [1, 1],
          "temperature" : [6500, 6500]
        },
        {
          "magnitude" : 7,
          "description" : "\u85CD\u4EAE\u5DE8\u661F",
          "imageScale" : 0.44,
          "twinkleFrames" : "/celestial/stars/star19pxBlue.png",
          "twinkleBackground" : "/celestial/stars/backgrounds/star19px.png",
          "brightness" : [1, 1],
          "temperature" : [6500, 6500]
        },
        {
          "magnitude" : 8,
          "description" : "\u85CD\u8D85\u5DE8\u661F",
          "imageScale" : 0.48,
          "twinkleFrames" : "/celestial/stars/star21pxBlue.png",
          "twinkleBackground" : "/celestial/stars/backgrounds/star21px.png",
          "brightness" : [1, 1],
          "temperature" : [6500, 6500]
        }
      ],
      "orbitRegions" : [
        [ [3, 7], "Hot" ],
        [ [8, 12], "Mild" ]
      ]
    }
  },

  "planetaryTypes" : {
    "Terrestrial" : {
      "selectionWeight" : 2.0,
      "satelliteProbability" : 0.1,

      "baseParameters" : {
        "type" : "Landable",
        "description" : "\u5CA9\u8CEA\u884C\u661F",
        "smallImage" : "/celestial/system/planet_small.png",
        "shadowNumber" : [1, 9],

        "liquidImages" : "/celestial/system/terrestrial/liquids/<liquid>.png",
        "shadowImages" : "/celestial/system/terrestrial/shadows/<num>.png",
        "biomeMaskImages" : "/celestial/system/terrestrial/biomes/<biome>/maskie<num>.png",
        "biomeMasks" : 3,
        "dynamicsImages" : "/celestial/system/terrestrial/dynamics/<num>.png",
        "dynamicsRange" : [1, 40]
      },

      "variationParameters" : [
        {
          "imageScale" : 0.125,
          "smallImageScale" : 0.5,
          "worldSize" : "large"
        },
        {
          "imageScale" : 0.15,
          "smallImageScale" : 0.6,
          "worldSize" : "verylarge"
        },
        {
          "imageScale" : 0.175,
          "smallImageScale" : 0.7,
          "worldSize" : "huge"
        }
      ],

      "orbitParameters" : {
        "Hot" : [
          {
            "availableBiomes" : [ "tentacles", "magma", "volcanic", "desert" ]
          }
        ],
        "Mild" : [
          {
            "availableBiomes" : [ "tentacles", "desert", "arid", "ocean", "savannah", "grasslands", "jungle", "forest" ]
          }
        ],
        "Cold" : [
          {
            "availableBiomes" : [ "snow", "tundra", "arctic" ]
          }
        ]
      }
    },

    "GasGiant" : {
      "selectionWeight" : 1.0,
      "satelliteProbability" : 0.2,
      "baseParameters" : {
        "type" : "GasGiant",
        "description" : "\u6C23\u9AD4\u884C\u661F",
        "smallImage" : "/celestial/system/planet_small.png",
        "shadowNumber" : [1, 9],

        "baseImage" : "/celestial/system/gas_giant/gas_giant_base.png",
        "shadowImages" : "/celestial/system/gas_giant/shadows/<num>.png",
        "dynamicsImages" : "/celestial/system/gas_giant/gas_giant_dynamics/<num>.png",
        "dynamicsRange" : [1, 40],
        "overlayImage" : "/celestial/system/gas_giant/gas_giant_clouds.png",
        "overlayMasks" : 2
      },

      "variationParameters" : [
        {
          "imageScale" : 0.15,
          "smallImageScale" : 0.9
        },
        {
          "imageScale" : 0.20,
          "smallImageScale" : 1.0
        }
      ]
    }
  },

  "satelliteTypes" : {
    "Terrestrial" : {
      "selectionWeight" : 0.9,
      "baseParameters" : {
        "type" : "Landable",
        "description" : "\u5CA9\u8CEA\u885B\u661F",

        "liquidImages" : "/celestial/system/terrestrial/liquids/<liquid>.png",
        "shadowImages" : "/celestial/system/terrestrial/shadows/<num>.png",
        "biomeMaskImages" : "/celestial/system/terrestrial/biomes/<biome>/maskie<num>.png",
        "biomeMasks" : 3,
        "dynamicsImages" : "/celestial/system/terrestrial/dynamics/<num>.png",
        "dynamicsRange" : [1, 40]
      },

      "variationParameters" : [
        {
          "imageScale" : 0.0375,
          "worldSize" : "tiny"
        },
        {
          "imageScale" : 0.055,
          "worldSize" : "small"
        },
        {
          "imageScale" : 0.07,
          "worldSize" : "large"
        },
        {
          "imageScale" : 0.09,
          "worldSize" : "verylarge"
        }
      ],

      "orbitParameters" : {
        "Hot" : [
          {
            "availableBiomes" : [ "arid", "desert", "forest", "snow", "moon", "jungle", "grasslands", "savannah", "volcanic", "tundra", "magma" ]
          }
        ],
        "Mild" : [
          {
            "availableBiomes" : [ "arid", "desert", "forest", "snow", "moon", "jungle", "grasslands", "savannah", "volcanic", "tundra", "magma" ]
          }
        ],
        "Cold" : [
          {
            "availableBiomes" : [ "arid", "desert", "forest", "snow", "moon", "jungle", "grasslands", "savannah", "volcanic", "tundra", "magma" ]
          }
        ]
      }
    },

    "DebrisField" : {
      "selectionWeight" : 0.1,
      "baseParameters" : {
        "type" : "Landable",
        "description" : "\u788E\u77F3\u7FA4",
        "atmosphere" : false,

        "liquidImages" : "/celestial/system/terrestrial/liquids/<liquid>.png",
        "biomeMaskImages" : "/celestial/system/terrestrial/biomes/debris/<biome>/maskie<num>.png",
        "biomeMasks" : 4,
        "dynamicsImages" : "/celestial/system/terrestrial/dynamics/debris/<num>.png",
        "dynamicsRange" : [1, 10]
      },

      "variationParameters" : [
        {
          "imageScale" : 0.1,
          "worldSize" : "debrisField"
        },
        {
          "imageScale" : 0.05,
          "worldSize" : "debrisField"
        },
        {
          "imageScale" : 0.2,
          "worldSize" : "debrisField"
        }
      ],

      "orbitParameters" : {
        "Hot" : [
          {
            "availableBiomes" : [ "asteroidfield" ]
          }
        ],
        "Mild" : [
          {
            "availableBiomes" : [ "asteroidfield" ]
          }
        ],
        "Cold" : [
          {
            "availableBiomes" : [ "asteroidfield" ]
          }
        ]
      }
    }
  }
}
