{
  "maxInterfaceScale" : 2.0,
  "minInterfaceScale" : 1.0,

  "interfaceCrossoverRes" : [1000, 500],

  "textureTimeout" : 30000,

  "font" : {
    "baseSize" : 8,
    "itemSize" : 8,
    "nameSize" : 8,
    "buttonSize" : 8,
    "planetSize" : 24,
    "defaultColor" : [255, 255, 255]
  },

  "nameOffset" : [32, 10],

  "tooltip" : {
    "hoverTime" : 0.2,
    "radius" : 4,
    "allowOver" : false,
    "offset" : [1, 1]
  },

  // Offset from top left of screen
  "debugOffset" : [12, 100],
  "debugFontSize" : 8,

  // Offset from top left of screen
  "healthPos" : [30, 22],
  "energyPos" : [30, 32],

  "statusIconPos" : [30, 46],
  "statusIconShift" : [14, 0],
  "statusIconBlinkThreshold" : 3,

  // Offset from top center of screen
  // warmth pos is drawn centered
  "warmthPos" : [0, 20],

  "breathPos" : [0, 48],

  //warmth bar is relative to warmthPos
  "warmthBarPos" : [-40, -2],
  "coolingIndicatorPos" : [-61, -3],
  "warmingIndicatorPos" : [56, -3],
  "coolingIndicatorOffset" : [-2, 0],
  "warmingIndicatorOffset" : [2, 0],
  "warmthRateScale" : 5.0,
  "warmthBarTextOffset" : [4, -8],

  //breath bar is relative to warmthPos
  "breathBarPos" : [-42, -2],
  "breathBarNextBarOffset" : [0, 96],

  "message" : {
    "progressContainer" : "/interface/messages/progresscontainer.png",
    "progressFilled" : "/interface/messages/filled.png",
    "progressEmpty" : "/interface/messages/empty.png",
    "textContainer" : "/interface/messages/textcontainer.png",
    "textContainerOffset" : [0, -12],
    "textOffset" : [0, -1],
    "showTime" : 10,
    "hideTime" : 2,
    "offset" : [0, 18],
    "offsetHidden" : [0, 6],
    "offsetHiddenBar" : [0, -6],
    "itemOffset" : [9, 0],
    "iconPos" : [-58, -6],
    "barPos" : [-45, -3],
    "windowSpring" : 20
  },

  "hungerIcon" : "/interface/messages/hungericon.png",

  "monsterHealth" : {
    "container" : "/interface/monsterHealth.png",
    "progressEmpty" : "/interface/messages/empty.png",
    "progressFilled" : "/interface/fillbarpiece.png",
    "progressChunks" : 10,
    "showTime" : 10,
    "offset" : [0, -55],
    "levelTextOffset" : [-58, -75],
    "nameTextOffset" : [1000, 1000],
    "skillIconOffset" : [-30, -51],
    "skillTextOffset" : [-25, -57],
    "skillTextDirectives" : "?border=2;000000FF;000000FF",
    "progressBarOffset" : [-35, -64],
    "portraitOffset" : [-45, -51],
    "portraitScale" : 1,
    "portraitScissorRect" : [-128, -32, 8, 64],
    "portraitMaxSize" : 64
  },

  "portraitPos" : [16, 26],
  "portraitScale" : 1.5,
  "portraitBackgroundMask" : "?addmask=/humanoid/portraitBackgroundMask.png;0;0",

  "portraitNullPlayerImageFull" : "/interface/nullcharportraitfull.png",
  "portraitNullPlayerImagePart" : "/interface/nullcharportraitpart.png",
  "portraitIconImage" : "/interface/inventory/portrait.png",
  "portraitIconOffset" : [0, -6],

  // Offset from bottom left of inventory bar
  "inventoryBar" : {
    "bag" : {
      "base" : "/interface/inventory.png",
      "hover" : "/interface/inventoryhover.png",
      "open" : "/interface/inventoryopen.png",
      "openHover" : "/interface/inventoryopenhover.png",
      "poly" : [ [57, 0], [74, 0], [74, 17], [57, 17] ]
    },
    "money" : {
      "image" : "/interface/money.png",
      "pos" : [6, 13],
      "textPos" : [19, 12]
    },
    "craft" : {
      "base" : "/interface/craftingbutton.png",
      "hover" : "/interface/craftingbuttonOver.png",
      "pos" : [57, -20],
      "poly" : [ [57, -20], [74, -20], [74, -3], [57, -3] ]
    },
    "inspect" : {
      "base" : "/interface/inspect.png",
      "hover" : "/interface/inspecthover.png",
      "pos" : [57, -40],
      "poly" : [ [57, -40], [74, -40], [74, -23], [57, -23] ]
    },
    "codex" : {
      "base" : "/interface/codex.png",
      "hover" : "/interface/codexhover.png",
      "pos" : [57, -60],
      "poly" : [ [57, -60], [74, -60], [74, -43], [57, -43] ]
    },
    "beam" : {
      "base" : [ "/interface/beamup.png", "/interface/beamdown.png" ],
      "hover" : [ "/interface/beamuphover.png", "/interface/beamdownhover.png" ],
      "pos" : [57, -80],
      "poly" : [ [57, -80], [74, -80], [74, -63], [57, -63] ]
    },
    "questLog" : {
      "base" : "/interface/quest.png",
      "hover" : "/interface/questhover.png",
      "pos" : [57, -100],
      "poly" : [ [57, -100], [74, -100], [74, -83], [57, -83] ]
    }
  },

  "scrollArea" : {
    "buttonAdvance" : 24.0,
    "buttons" : {
      "horizontal" : {
        "forward" : {
          "base" : "/interface/scrollarea/harrow-forward.png",
          "hover" : "/interface/scrollarea/harrow-forwardhover.png",
          "pressed" : ""
        },
        "backward" : {
          "base" : "/interface/scrollarea/harrow-backward.png",
          "hover" : "/interface/scrollarea/harrow-backwardhover.png",
          "pressed" : ""
        }
      },
      "vertical" : {
        "forward" : {
          "base" : "/interface/scrollarea/varrow-forward.png",
          "hover" : "/interface/scrollarea/varrow-forwardhover.png",
          "pressed" : ""
        },
        "backward" : {
          "base" : "/interface/scrollarea/varrow-backward.png",
          "hover" : "/interface/scrollarea/varrow-backwardhover.png",
          "pressed" : ""
        }
      }
    },
    "thumbs" : {
      "horizontal" : {
        "base" : {
          "begin" : "/interface/scrollarea/hthumb-begin.png",
          "end" : "/interface/scrollarea/hthumb-end.png",
          "inner" : "/interface/scrollarea/hthumb-inner.png"
        },
        "hover" : {
          "begin" : "/interface/scrollarea/hthumb-beginhover.png",
          "end" : "/interface/scrollarea/hthumb-endhover.png",
          "inner" : "/interface/scrollarea/hthumb-innerhover.png"
        },
        "pressed" : {
          "begin" : "",
          "end" : "",
          "inner" : ""
        }
      },
      "vertical" : {
        "base" : {
          "begin" : "/interface/scrollarea/vthumb-begin.png",
          "end" : "/interface/scrollarea/vthumb-end.png",
          "inner" : "/interface/scrollarea/vthumb-inner.png"
        },
        "hover" : {
          "begin" : "/interface/scrollarea/vthumb-beginhover.png",
          "end" : "/interface/scrollarea/vthumb-endhover.png",
          "inner" : "/interface/scrollarea/vthumb-innerhover.png"
        },
        "pressed" : {
          "begin" : "",
          "end" : "",
          "inner" : ""
        }
      }
    }
  },

  "slider" : {
    "leftBase" : "/interface/pickleft.png",
    "leftHover" : "/interface/pickleftover.png",
    "rightBase" : "/interface/pickright.png",
    "rightHover" : "/interface/pickrightover.png",
    "jog" : "/interface/scrolly.png",
    "defaultPadding" : 4
  },

  "spinner" : {
    "leftBase" : "/interface/pickleft.png",
    "leftHover" : "/interface/pickleftover.png",
    "rightBase" : "/interface/pickright.png",
    "rightHover" : "/interface/pickrightover.png",
    "defaultPadding" : 3
  },

  "itemCountRightAnchor" : [20, -3],
  "itemIconOffset" : [9, 9],
  "itemIconDurabilityOffset" : [1, -2],

  "itemDraggableArea" : [-2, -2, 19, 19],
  "itemLineDraggableArea" : [-2, -2, 158, 22],
  "inventoryItemMouseOffset" : [8, -16],

  "textBoxDefaultWidth" : 150,

  "inventoryWindowChestSlot" : [90, 195],
  "inventoryWindowLegsSlot" : [90, 175],

  "cursorTypes" : [
    {
      "type" : "reticle",
      "offset" : [7, 7],
      "image" : "/interface/cursors.png:reticle"
    },
    {
      "type" : "injector",
      "offset" : [4, 3],
      "image" : "/interface/cursors.png:injector"
    },
    {
      "type" : "pointer",
      "offset" : [0, 0],
      "image" : "/interface/cursors.png:pointer"
    },
    {
      "type" : "tool",
      "offset" : [4, 3],
      "image" : "/interface/cursors.png:tool"
    },
    {
      "type" : "inspect",
      "offset" : [4, 3],
      "image" : "/interface/cursors.png:inspect"
    }
  ],

  "cursorItemSlot" : {
    "type" : "itemslot",
    "position" : [-20, -20],
    "iconMode" : true,
    "showCount" : true,
    "callback" : "null",
    "showDurability" : true
  },

  "titleCursor" : {
    "offset" : [0, 0],
    "image" : "/interface/cursors.png:pointer"
  },

  "buttonPressedOffset" : [1, -1],

  "displayCenteredWindowGap" : 4,

  "charPlate" : {
    "backingImage" : "/interface/title/charplate.png",
    "backingImageHover" : "/interface/title/charplateover.png",
    "selectedImage" : "/interface/title/charselectedplate.png",
    "selectedImageHover" : "/interface/title/charselectedplateover.png",
    "portraitOffset" : [26, 14],
    "numberOffset" : [10, 54]
  },

  "largeCharPlate" : {
    "backingImage" : "/interface/title/selectedcharacter.png",
    "playerHover" : "/interface/title/largecharplatenoplayerover.png",
    "noPlayer" : "/interface/title/largecharplatenoplayer.png",
    "noPlayerHover" : "/interface/title/largecharplatenoplayerover.png",
    "portraitOffset" : [18, 29],
    "portraitScale" : 1.0,
    "switchText" : "\u5207\u63DB:*",
    "createText" : "\u5EFA\u7ACB:*",
    "modeText" : "\u6A21\u5F0F:",
    "modeNameOffset" : [190, 30],
    "modeOffset" : [190, 19],

    "noPlayerText" : "\u5EFA\u7ACB\u89D2\u8272",
    "noPlayerTextColor" : [255, 255, 128],
    "playerNameOffset" : [98, 19],

    "textColor" : [255, 255, 255],
    "textColorDisabled" : [147, 147, 149]
  },

  "textboxCursorVertical" : [0.0, 1.1],
  "textboxCursorHorizontal" : [-0.25, 0.25],

  "modeTypeTextAndColor" : [
    [ "???", [147, 147, 149] ],
    [ "Normal", [75, 206, 58] ],
    [ "Hardcore", [206, 197, 58] ],
    [ "Permadeath", [206, 58, 58] ]
  ],

  "nothingThere" : [
    "\u9019\u88E1\u6C92\u6709\u4EC0\u9EBC\u503C\u5F97\u6CE8\u610F\u7684\u6771\u897F\u3002",
    "\u4EC0\u9EBC\u90FD\u6C92\u6709\u3002",
    "\u4EC0\u9EBC\u90FD\u6C92\u6709\u767C\u73FE",
    "(\u5927\u9A5A!)\u9019\u662F...\u7B49\u7B49...\u5594\uFF0C\u7B97\u4E86\uFF0C\u6C92\u4E8B\u3002",
    "\u6211\u7684\u5929\u963F\uFF0C\u9019\u88E1\u4EC0\u9EBC\u90FD\u6C92\u6709\u3002",
    "\u5566\u5566\u5566~\u4EC0\u9EBC\u90FD\u6C92\u6709~\u5566\u5566\u5566~",
    "\u4F60\u5F88\u52AA\u529B\u7684\u60F3\u8981\u770B\u51FA\u4EC0\u9EBC\u6771\u897F\u4F86\uFF0C\u4F46\u662F\u9084\u662F\u5931\u6557\u4E86\u3002",
    "\u865B!\u7121!\u7A7A!\u6C92\u6709!"
  ],

  "bareHandsCrafting" : {
    "filter" : [ "plain" ]
  },

  "escapeDialog" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/escmenu/body.png",
      "fileFooter" : ""
    },
    "paneFeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "anchor" : "center",
      "positionLocked" : true
    },
    "returnToGame" : {
      "type" : "button",
      "position" : [13, 49],
      "base" : "/interface/escmenu/returntogame.png",
      "hover" : "/interface/escmenu/returntogame-over.png"
    },
    "showOptions" : {
      "type" : "button",
      "position" : [13, 34],
      "base" : "/interface/escmenu/options.png",
      "hover" : "/interface/escmenu/options-over.png"
    },
    "saveAndQuit" : {
      "type" : "button",
      "position" : [13, 19],
      "base" : "/interface/escmenu/saveandquit.png",
      "hover" : "/interface/escmenu/saveandquit-over.png"
    }
  },

  "tech3DPrinterDialog" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/escmenu/body.png",
      "fileFooter" : ""
    },
    "paneFeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "anchor" : "center",
      "positionLocked" : true,
      "persistent" : true
    },
    "openTech" : {
      "type" : "button",
      "position" : [13, 49],
      "base" : "/interface/escmenu/techUp.png",
      "hover" : "/interface/escmenu/tech.png"
    },
    "open3DPrinter" : {
      "type" : "button",
      "position" : [13, 34],
      "base" : "/interface/escmenu/3dPrinterUp.png",
      "hover" : "/interface/escmenu/3dPrinter.png"
    },
    "dismiss" : {
      "type" : "button",
      "position" : [13, 19],
      "base" : "/interface/escmenu/cancelUp.png",
      "hover" : "/interface/escmenu/cancel.png"
    }
  },

  "warpDialog" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/escmenu/body.png",
      "fileFooter" : ""
    },
    "paneFeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "anchor" : "center",
      "positionLocked" : true,
      "persistent" : true
    },
    "warpToCurrent" : {
      "type" : "button",
      "position" : [13, 49],
      "base" : "/interface/escmenu/currentup.png",
      "hover" : "/interface/escmenu/current.png"
    },
    "warpToHome" : {
      "type" : "button",
      "position" : [13, 34],
      "base" : "/interface/escmenu/homeup.png",
      "hover" : "/interface/escmenu/home.png"
    },
    "dismiss" : {
      "type" : "button",
      "position" : [13, 19],
      "base" : "/interface/escmenu/cancelUp.png",
      "hover" : "/interface/escmenu/cancel.png"
    }
  },

  "3DPrinterSettings" : {
    "config" : "/interface/windowconfig/3dprinter.config",
    "filter" : [ "3dprinter" ]
  },

  "paneIconOffset" : [4, 1],
  "paneTitleOffset" : [29, 13],
  "paneSubTitleOffset" : [29, 3],
  "paneTitleColor" : [255, 252, 220],
  "paneSubTitleColor" : [126, 112, 102],

  "buttonHoverSound" : [ "/sfx/interface/hoverover_bumb.wav" ],
  "buttonClickSound" : [ "/sfx/interface/clickon_success.wav" ],
  "buttonClickFailSound" : [ "/sfx/interface/clickon_error.ogg" ],

  "disabledButton" : "?saturation=-60?brightness=-60",

  "mouseoverTime" : 0.05,
  "mouseoverRadius" : 8,
  "mouseoverOffset" : [10, 10],

  "planetNameFormatString" : "- %s -",
  "planetNameTime" : 5.0,
  "planetNameFadeTime" : 1.0,
  "planetTextOffset" : [0, 60],
  "planetNameDirectives" : "?border=4;00000080;00000080",

  "cameraSmoothRadius" : 7.0,
  "cameraSmoothFactor" : 2.0,
  "cameraSmoothDeadzone" : 0.01,

  "musicTrackSwitchGrace" : 3.0,

  "renderVirtualCursor" : false,

  "invitationPollInterval" : 0.2,
  "fullUpdateInterval" : 0.2,
  "statusUpdateInterval" : 0.2
}
