{
  "blockCacheSize" : 50000,

  "planetGenCacheSize" : 50,

  "dayLengthRange" : [800, 2000],
  "gravityRange" : [25, 80],

  "biomeHorizontalNoise" : {
    "type" : "Perlin",
    "octaves" : 7,
    "frequency" : 0.0017,
    "amplitude" : 200,
    "alpha" : 1.4,
    "beta" : 2.0
  },

  "biomeVerticalNoise" : {
    "type" : "Perlin",
    "octaves" : 7,
    "frequency" : 0.002,
    "amplitude" : 80,
    "alpha" : 1.6,
    "beta" : 2.0
  },

  "biomeNoise" : {
    "type" : "Perlin",
    "octaves" : 4,
    "frequency" : 0.1,
    "amplitude" : 8,
    "alpha" : 1.8,
    "beta" : 2.0
  },

  "planetSizes" : {
    "tiny" : {
      "size" : [2048, 1504],
      "description" : "\u5FAE\u5C0F",
      "surfaceLevel" : 380,
      "undergroundLevel" : 340,
      "bedrockLevel" : 280,
      "lavaLevel" : 32,
      "spaceBoundary" : 1000,

      "blendSize" : 60,
      "deadZoneSize" : 0,

      "detachedBiomeCount" : 1,
      "detachedBiomeRadius" : 190,

      "undergroundDetachedBiomeCount" : 5,
      "undergroundDetachedBiomeRadius" : 400,
      "undergroundDetachedBiomeEnvironmentRadius" : 410,
      "undergroundDetachedBiomeHeightVariance" : 20,
      "undergroundDetachedBiomeCaveFactor" : 1.0,

      "undergroundLayers" : 1,
      "surfaceDungeonCount" : 1
    },

    "small" : {
      "size" : [4000, 4000],
      "description" : "\u5C0F",
      "surfaceLevel" : 600,
      "undergroundLevel" : 550,
      "bedrockLevel" : 460,
      "lavaLevel" : 32,
      "spaceBoundary" : 3000,

      "blendSize" : 60,
      "deadZoneSize" : 0,

      "detachedBiomeCount" : 1,
      "detachedBiomeRadius" : 220,

      "undergroundDetachedBiomeCount" : 6,
      "undergroundDetachedBiomeRadius" : 500,
      "undergroundDetachedBiomeEnvironmentRadius" : 510,
      "undergroundDetachedBiomeHeightVariance" : 20,
      "undergroundDetachedBiomeCaveFactor" : 1.0,

      "undergroundLayers" : 1,
      "surfaceDungeonCount" : 1
    },

    "large" : {
      "size" : [6016, 4000],
      "description" : "\u5927",
      "surfaceLevel" : 1200,
      "undergroundLevel" : 1150,
      "bedrockLevel" : 1050,
      "lavaLevel" : 128,
      "spaceBoundary" : 3000,

      "blendSize" : 60,
      "deadZoneSize" : 0,

      "detachedBiomeCount" : 5,
      "detachedBiomeRadius" : 250,

      "undergroundDetachedBiomeCount" : 6,
      "undergroundDetachedBiomeRadius" : 600,
      "undergroundDetachedBiomeEnvironmentRadius" : 610,
      "undergroundDetachedBiomeHeightVariance" : 20,
      "undergroundDetachedBiomeCaveFactor" : 1.0,

      "undergroundLayers" : 2,
      "surfaceDungeonCount" : 1
    },

    "verylarge" : {
      "size" : [8000, 4992],
      "description" : "\u5DE8\u5927",
      "surfaceLevel" : 1600,
      "undergroundLevel" : 1530,
      "bedrockLevel" : 1400,
      "lavaLevel" : 128,
      "spaceBoundary" : 4000,

      "blendSize" : 60,
      "deadZoneSize" : 0,

      "detachedBiomeCount" : 6,
      "detachedBiomeRadius" : 280,

      "undergroundDetachedBiomeCount" : 6,
      "undergroundDetachedBiomeRadius" : 700,
      "undergroundDetachedBiomeEnvironmentRadius" : 710,
      "undergroundDetachedBiomeHeightVariance" : 40,
      "undergroundDetachedBiomeCaveFactor" : 1.0,

      "undergroundLayers" : 2,
      "surfaceDungeonCount" : 1
    },

    "huge" : {
      "size" : [16000, 7008],
      "description" : "\u8D85\u5DE8\u5927",
      "surfaceLevel" : 3000,
      "undergroundLevel" : 2900,
      "bedrockLevel" : 2700,
      "lavaLevel" : 128,
      "spaceBoundary" : 5500,

      "blendSize" : 60,
      "deadZoneSize" : 0,

      "detachedBiomeCount" : 7,
      "detachedBiomeRadius" : 310,

      "undergroundDetachedBiomeCount" : 6,
      "undergroundDetachedBiomeRadius" : 800,
      "undergroundDetachedBiomeEnvironmentRadius" : 810,
      "undergroundDetachedBiomeHeightVariance" : 40,
      "undergroundDetachedBiomeCaveFactor" : 1.0,

      "undergroundLayers" : 3,
      "surfaceDungeonCount" : 2
    },

    "debrisField" : {
      "size" : [6016, 4000],
      "description" : "\u5927",
      "surfaceLevel" : 0,
      "undergroundLevel" : -100,
      "bedrockLevel" : 0,
      "lavaLevel" : -100,
      "spaceBoundary" : 4000,

      "blendSize" : 1,
      "deadZoneSize" : 0,

      "detachedBiomeCount" : 5,
      "detachedBiomeRadius" : 250,

      "undergroundDetachedBiomeCount" : 6,
      "undergroundDetachedBiomeRadius" : 600,
      "undergroundDetachedBiomeEnvironmentRadius" : 610,
      "undergroundDetachedBiomeHeightVariance" : 20,
      "undergroundDetachedBiomeCaveFactor" : 1.0,

      "undergroundLayers" : 0,
      "surfaceDungeonCount" : 0
    }
  },

  "surfaceTerrain" : {
    "hills" : {
      "surfaceSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "barren" : {
      "surfaceSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "canyons" : {
      "surfaceSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "chasms" : {
      "surfaceSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "dunes" : {
      "surfaceSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "flats" : {
      "surfaceSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "totallyflat" : {
      "surfaceSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "mountains" : {
      "surfaceSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "islands" : {
      "surfaceSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "debrisfield" : {
      "surfaceSelector" : "debrisSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "denseVeins"
    },

    "wackypillars" : {
      "surfaceSelector" : "pillarsSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    }
  },

  "undergroundTerrain" : {
    "undergroundCaves" : {
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    }
  },

  "spaceTerrain" : {
    "asteroids" : {
      "floatingTerrainSelector" : "asteroids",
      "caveSelector" : "solidbackground",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    }
  },

  "defaultSurfaceTerrain" : "flats",

  "surfaceBiomeTerrains" : {
    "barren" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
    "tentacles" : [ "hills", "barren" ],
    "arctic" : [ "islands" ],
    "ocean" : [ "islands" ],
    "savannah" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
    "moon" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
    "forest" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
    "arid" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
    "desert" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
    "grasslands" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
    "jungle" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
    "magma" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
    "snow" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
    "tundra" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
    "volcanic" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
    "asteroidfield" : [ "debrisfield" ]
  },

  "undergroundLayers" : [
    {
      "biomes" : [ "claylayer", "drydirtlayer", "drysandlayer", "gravellayer", "mudlayer", "sandlayer", "sandstonelayer" ],
      "detachedBiomes" : [ "crystalcave", "cellcave", "wilderness", "tarpit", "colorfulcave", "abandonedmines", "village", "bonecaves", "fleshcave", "slimecaves", "mushrooms", "coralcave" ],
      "terrain" : [ "undergroundCaves" ]
    },
    {
      "biomes" : [ "rock01layer", "rock02layer", "rock03layer", "rock19layer", "rock20layer", "icecaves" ],
      "detachedBiomes" : [ "crystalcave", "cellcave", "wilderness", "tarpit", "colorfulcave", "abandonedmines", "village", "bonecaves", "fleshcave", "slimecaves", "mushrooms", "coralcave" ],
      "terrain" : [ "undergroundCaves" ]
    },
    {
      "biomes" : [ "rock04layer", "rock12layer", "rock14layer", "rock15layer", "rock17layer", "icecaves" ],
      "detachedBiomes" : [ "crystalcave", "cellcave", "wilderness", "tarpit", "colorfulcave", "abandonedmines", "village", "bonecaves", "fleshcave", "slimecaves", "mushrooms", "coralcave" ],
      "terrain" : [ "undergroundCaves" ]
    }
  ],

  "coreBiomes" : [ "blaststonecorelayer", "magmarockcorelayer", "obsidiancorelayer" ],
  "coreBiomeTerrain" : [ "undergroundCaves" ],

  "spaceBiomes" : [ "asteroids" ],
  "spaceBiomeTerrain" : [ "asteroids" ],

  "spawnDungeon" : true,
  "spawnMonsters" : true,
  "spawnNoDungeonReserve" : [32, 8],
  "spawnRegion" : true,
  "spawnRegionFlatSurface" : false,
  "spawnFlatSurfaceRadius" : 2,
  "spawnDungeonNearSpawn" : false,
  "spawnDungeonNearSpawnMaxRadius" : 300,
  "spawnDungeonSpawnMinRadius" : 100,
  "spawnMicroDungeonExclusion" : true,

  "dungeonWhitelist" : [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]

}
