{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheader.png",
      "fileBody" : "/interface/chests/slots57to64.png",
      "fileFooter" : "/interface/chests/chestfooter.png"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [39, 193],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [80, 145],
      "dimensions" : [4, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [4, 31],
      "slotOffset" : 16,
      "dimensions" : [8, 6],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "dragDrop" : {
      "type" : "label",
      "value" : "\u6258\u653E\u9053\u5177\u81F3\u6B64",
      "hAnchor" : "mid",
      "position" : [40, 151]
    },
    "count" : {
      "type" : "label",
      "value" : "%slots% \u683C",
      "hAnchor" : "mid",
      "position" : [120, 222]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/chests/shine49andup.png",
      "position" : [0, 0]
    }
  }
}
