{
  "blueprint" : {
    "messages" : {
      "alreadyKnown" : "\u9019\u500B\u85CD\u5716\u5DF2\u7D93\u6703\u4E86",
      "learned" : "\u5B78\u7FD2\u5230\u4E86\u4E00\u500B\u65B0\u7684\u85CD\u5716"
    },
    "overlay" : {
      "iconOverlay" : {
        "image" : "/items/generic/other/blueprint.png"
      }
    },
    "inHandDrawable" : {
      "image" : "/items/generic/other/blueprintinhand.png"
    }
  },
  "chip" : {
    "messages" : {
      "alreadyKnown" : "\u9019\u500B\u6280\u80FD\u5DF2\u7D93\u6703\u4E86",
      "learned" : "\u5B78\u7FD2\u5230\u4E86\u4E00\u500B\u65B0\u7684\u6280\u80FD"
    },
    "overlay" : {
      "iconOverlay" : {
        "image" : "/tech/banana.png"
      }
    },
    "inHandDrawable" : {
      "image" : "/tech/banana.png"
    }
  }
}
