{
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/title/charactercreation.png",
      "fileFooter" : "/interface/title/charactercreationfooter.png"
    },
    "labelSpeciesRadio" : {
      "type" : "label",
      "position" : [69, 230],
      "hAnchor" : "mid",
      "value" : "\u7A2E\u65CF"
    },
    "labelPortrait" : {
      "type" : "label",
      "position" : [168, 230],
      "hAnchor" : "mid",
      "value" : "\u4EBA\u985E"
    },
    "labelMainSkinColor" : {
      "type" : "label",
      "position" : [52, 129],
      "hAnchor" : "mid"
    },
    "mainSkinColor" : {
      "type" : "spinner",
      "position" : [84, 129],
      "zlevel" : 1
    },
    "labelHairStyle" : {
      "type" : "label",
      "position" : [52, 117],
      "hAnchor" : "mid"
    },
    "hairStyle" : {
      "type" : "spinner",
      "position" : [84, 117],
      "zlevel" : 1
    },
    "labelShirt" : {
      "type" : "label",
      "position" : [52, 105],
      "hAnchor" : "mid"
    },
    "shirt" : {
      "type" : "spinner",
      "position" : [84, 105],
      "zlevel" : 1
    },
    "labelPants" : {
      "type" : "label",
      "position" : [52, 93],
      "hAnchor" : "mid"
    },
    "pants" : {
      "type" : "spinner",
      "position" : [84, 93],
      "zlevel" : 1
    },
    "labelPersonality" : {
      "type" : "label",
      "position" : [52, 81],
      "hAnchor" : "mid"
    },
    "personality" : {
      "type" : "spinner",
      "position" : [84, 81],
      "zlevel" : 1
    },
    "labelAlty" : {
      "type" : "label",
      "position" : [152, 129],
      "hAnchor" : "mid"
    },
    "alty" : {
      "type" : "spinner",
      "position" : [184, 129],
      "zlevel" : 1
    },
    "labelHeady" : {
      "type" : "label",
      "position" : [152, 117],
      "hAnchor" : "mid"
    },
    "heady" : {
      "type" : "spinner",
      "position" : [184, 117],
      "zlevel" : 1
    },
    "labelShirtColor" : {
      "type" : "label",
      "position" : [152, 105],
      "hAnchor" : "mid"
    },
    "shirtColor" : {
      "type" : "spinner",
      "position" : [184, 105],
      "zlevel" : 1
    },
    "labelPantsColor" : {
      "type" : "label",
      "position" : [152, 93],
      "hAnchor" : "mid"
    },
    "pantsColor" : {
      "type" : "spinner",
      "position" : [184, 93],
      "zlevel" : 1
    },
    "randomize" : {
      "type" : "button",
      "base" : "/interface/title/dice.png",
      "hover" : "/interface/title/diceover.png",
      "position" : [184, 145]
    },
    "randomName" : {
      "type" : "button",
      "base" : "/interface/title/dice.png",
      "hover" : "/interface/title/diceover.png",
      "position" : [184, 30]
    },
    "saveChar" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [42, 13],
      "caption" : "Ok"
    },
    "cancel" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [141, 13],
      "caption" : "Cancel"
    },
    "species" : {
      "type" : "radioGroup",
      "position" : [27, 200],

      "baseImage" : "/interface/title/button.png",
      "hoverImage" : "/interface/title/buttonover.png",
      "baseImageChecked" : "/interface/title/selected.png",
      "hoverImageChecked" : "/interface/title/selectedover.png",

      "buttons" : [
        {
          "id" : 0,
          "image" : "",
          "position" : [0, 0]
        },
        {
          "id" : 1,
          "image" : "",
          "position" : [27, 0]
        },
        {
          "id" : 2,
          "image" : "",
          "position" : [54, 0]
        },
        {
          "id" : 3,
          "image" : "",
          "position" : [0, -26]
        },
        {
          "id" : 4,
          "image" : "",
          "position" : [27, -26]
        },
        {
          "id" : 5,
          "image" : "",
          "position" : [54, -26]
        }
      ]
    },
    "gender" : {
      "type" : "radioGroup",
      "position" : [39, 114],

      "baseImage" : "/interface/title/button.png",
      "hoverImage" : "/interface/title/buttonover.png",
      "baseImageChecked" : "/interface/title/selected.png",
      "hoverImageChecked" : "/interface/title/selectedover.png",

      "buttons" : [
        {
          "id" : 0,
          "image" : "/interface/title/male.png",
          "position" : [0, 30]
        },
        {
          "id" : 1,
          "image" : "/interface/title/female.png",
          "selected" : true,
          "position" : [29, 30]
        }
      ]
    },
    "labelMode" : {
      "type" : "label",
      "position" : [118, 67],
      "hAnchor" : "mid",
      "zlevel" : 1
    },
    "mode" : {
      "type" : "radioGroup",
      "position" : [39, 50],

      "baseImage" : "/interface/title/checkboxnocheck.png",
      "hoverImage" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",

      "buttons" : [
        {
          "id" : 0,
          "image" : "",
          "text" : "",
          "selected" : true,
          "position" : [-17, 0],
          "data" : {
            "description" : "Lose pixels upon death."
          }
        },
        {
          "id" : 1,
          "image" : "",
          "text" : "",
          "position" : [47, 0],
          "data" : {
            "description" : "Lose pixels and drop all items upon death."
          }
        },
        {
          "id" : 2,
          "image" : "",
          "text" : "",
          "position" : [111, 0],
          "data" : {
            "description" : "When you die your character stays dead."
          }
        }
      ]
    },
    "charPreview" : {
      "type" : "portrait",
      "position" : [167, 198],
      "scale" : 1.5
    },
    "name" : {
      "type" : "textbox",
      "position" : [62, 33],
      "hint" : "name",
      "maxWidth" : 70,
      "enterKey" : "saveChar",
      "escapeKey" : "cancel",
      "focus" : true
    }
  }
}
