{
  "selectText" : "\u9078\u64C7\u4E00\u500B\u7D00\u9304\u6A94",
  "closedIcon" : "/interface/codex/iconBook_closed.png",
  "openIcon" : "/interface/codex/iconBook_open.png",
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "persistent" : true
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/codex/header.png",
      "fileBody" : "/interface/codex/body_blank.png",
      "fileFooter" : "/interface/codex/footer.png"
    },
    "readLabel" : {
      "type" : "label",
      "position" : [80, 234],
      "hAnchor" : "mid",
      "value" : "Replace Me"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [143, 252]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Starbound Codex",
      "subtitle" : "Library",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/codex/iconBook_closed.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/codex/shine.png",
      "position" : [0, -10],
      "zlevel" : -10
    },
    "modeStack" : {
      "type" : "stack",
      "position" : [4, 8],
      "stack" : [
        {
          "scrollBG" : {
            "type" : "image",
            "file" : "/interface/codex/scrollbg.png",
            "position" : [0, 20],
            "zlevel" : -5
          },
          "readSelected" : {
            "type" : "button",
            "base" : "/interface/codex/readSelected.png",
            "hover" : "/interface/codex/readSelected-hover.png",
            "position" : [40, 4]
          },
          "scrollArea" : {
            "type" : "scrollArea",
            "rect" : [2, 29, 153, 214],
            "children" : {
              "bookList" : {
                "type" : "list",
                "position" : [1, -1],
                "schema" : {
                  "selectedBG" : "/interface/codex/booktitle_selected.png",
                  "unselectedBG" : "/interface/codex/booktitle_bg.png",
                  "spacing" : [0, 0],
                  "memberSize" : [140, 21],
                  "listTemplate" : {
                    "background" : {
                      "type" : "image",
                      "file" : "/interface/codex/booktitle_bg.png",
                      "position" : [0, 0],
                      "zlevel" : -1
                    },
                    "bookName" : {
                      "type" : "wraplabel",
                      "position" : [80, 11],
                      "hAnchor" : "mid",
                      "width" : 110,
                      "value" : "Replace Me"
                    },
                    "newIcon" : {
                      "type" : "image",
                      "position" : [3, 7],
                      "file" : "/interface/codex/new.png"
                    },
                    "readIcon" : {
                      "type" : "image",
                      "position" : [122, 5],
                      "file" : "/interface/codex/read.png"
                    }
                  }
                }
              }
            }
          }
        },
        {
          "browseBG" : {
            "type" : "image",
            "file" : "/interface/codex/browsebg.png",
            "position" : [1, 20],
            "zlevel" : -5
          },
          "pageText" : {
            "type" : "wraplabel",
            "position" : [6, 202],
            "hAnchor" : "left",
            "width" : 144,
            "value" : "Replace Me"
          },
          "pageNum" : {
            "type" : "label",
            "position" : [79, 22],
            "hAnchor" : "mid",
            "value" : "P. 0"
          },
          "prevButton" : {
            "type" : "button",
            "base" : "/interface/codex/previous.png",
            "hover" : "/interface/codex/previous-hover.png",
            "position" : [4, 22]
          },
          "nextButton" : {
            "type" : "button",
            "base" : "/interface/codex/next.png",
            "hover" : "/interface/codex/next-hover.png",
            "position" : [123, 22]
          },
          "backButton" : {
            "type" : "button",
            "base" : "/interface/codex/backButton.png",
            "hover" : "/interface/codex/backButton-hover.png",
            "position" : [42, 4]
          }
        }
      ]
    }
  },
  "codex" : {
    "messages" : {
      "alreadyKnown" : "\u9019\u500B\u7D00\u9304\u5DF2\u7D93\u77E5\u9053\u4E86",
      "learned" : "\u5B78\u7FD2\u5230\u4E86\u4E00\u500B\u65B0\u7684\u7D00\u9304"
    },
    "overlay" : {
      "iconOverlay" : {
        "image" : "/items/generic/other/codexinhand.png"
      }
    },
    "inHandDrawable" : {
      "image" : "/items/generic/other/codexinhand.png"
    }
  }
}
