{
  "onShowSound" : [
    ""
  ],
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "persistent" : false
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/quests/newquest/header.png",
      "fileBody" : "/interface/quests/newquest/body.png",
      "fileFooter" : "/interface/quests/newquest/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [261, 247]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "",
      "subtitle" : "",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/quests/quest.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "nqImage" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/NewQuest.png",
      "position" : [30, 156],
      "zlevel" : -10
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/shine.png",
      "position" : [0, 0],
      "zlevel" : -10
    },
    "bgOverlay" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/details.png",
      "position" : [3, 37],
      "zlevel" : -10
    },
    "btnAccept" : {
      "type" : "button",
      "base" : "/interface/quests/newquest/acceptUp.png",
      "hover" : "/interface/quests/newquest/acceptOver.png",
      "position" : [130, 49],
      "caption" : ""
    },
    "rewardItems" : {
      "type" : "itemgrid",
      "position" : [8, 47],
      "dimensions" : [5, 1],
      "spacing" : [22, 19],
      "callback" : "null",
      "backingImage" : "/interface/inventory/empty.png"
    },
    "labelMoney" : {
      "type" : "label",
      "position" : [12, 68],
      "fontSize" : 8,
      "value" : "REWARDS:",
      "color" : [155, 227, 214]
    },
    "imgMoney" : {
      "type" : "image",
      "file" : "/interface/quests/questlog/money.png",
      "position" : [60, 70]
    },
    "labelMoneyAmount" : {
      "type" : "label",
      "position" : [75, 68],
      "fontSize" : 8,
      "value" : "9999999",
      "color" : "white"
    },
    "labelQuestTitle" : {
      "type" : "wraplabel",
      "position" : [140, 136],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "width" : 180,
      "lineSpacing" : 1.0,
      "value" : "Secret of the Avian Troll Master",
      "color" : [155, 227, 214]
    },
    "labelQuestBody" : {
      "type" : "wraplabel",
      "position" : [9, 128],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "width" : 264,
      "lineSpacing" : 1.0,
      "value" : "quest body of the Secret of the Avian Troll Master quest bla",
      "color" : "white"
    }
  }
}
