{
  "trashBurnTimeout" : 1.0,
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "persistent" : true
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/inventory/inventoryheader.png",
      "fileBody" : "/interface/inventory/inventorybody.png",
      "fileFooter" : "/interface/inventory/inventoryfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [183, 264]
    },
    "gridModeSelector" : {
      "type" : "radioGroup",
      "position" : [5, 120],

      "baseImage" : "/interface/inventory/empty.png",
      "baseImageChecked" : "/interface/inventory/yellowborder.png",

      "buttons" : [
        {
          "id" : 0,
          "image" : "/interface/inventory/bigbag.png",
          "position" : [0, 0],
          "data" : "showMainGrid",
          "selected" : true
        },
        {
          "image" : "/interface/inventory/bigcart.png",
          "position" : [26, 0],
          "data" : "showTileGrid"
        }
      ]
    },
    "portrait" : {
      "type" : "portrait",
      "position" : [57, 217],
      "scale" : 1.3
    },
    "mainItemGrid" : {
      "type" : "itemgrid",
      "position" : [6, 39],
      "dimensions" : [10, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "tileItemGrid" : {
      "type" : "itemgrid",
      "position" : [6, 39],
      "dimensions" : [10, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "head" : {
      "type" : "itemslot",
      "position" : [90, 224],
      "backingImage" : "/interface/inventory/backingimagehead.png"
    },
    "chest" : {
      "type" : "itemslot",
      "position" : [90, 204],
      "backingImage" : "/interface/inventory/backingimagechest.png"
    },
    "legs" : {
      "type" : "itemslot",
      "position" : [90, 184],
      "backingImage" : "/interface/inventory/backingimagelegs.png"
    },
    "back" : {
      "type" : "itemslot",
      "position" : [5, 214],
      "backingImage" : "/interface/inventory/backingimageback.png"
    },
    "headSoc" : {
      "type" : "itemslot",
      "position" : [110, 224],
      "backingImage" : "/interface/inventory/backingimagesocial.png"
    },
    "chestSoc" : {
      "type" : "itemslot",
      "position" : [110, 204],
      "backingImage" : "/interface/inventory/backingimagesocial.png"
    },
    "legsSoc" : {
      "type" : "itemslot",
      "position" : [110, 184],
      "backingImage" : "/interface/inventory/backingimagesocial.png"
    },
    "backSoc" : {
      "type" : "itemslot",
      "position" : [5, 194],
      "backingImage" : "/interface/inventory/backingimagesocial.png"
    },
    "tech1" : {
      "type" : "itemslot",
      "position" : [12, 147],
      "backingImage" : "/interface/inventory/techempty.png"
    },
    "labeltech1" : {
      "type" : "label",
      "position" : [12, 163],
      "hAnchor" : "mid",
      "fontSize" : 7,
      "value" : "1",
      "color" : [230, 230, 230]
    },
    "tech1Selection" : {
      "type" : "image",
      "file" : "/interface/inventory/selectedtech.png",
      "position" : [11, 146]
    },
    "tech2" : {
      "type" : "itemslot",
      "position" : [42, 147],
      "backingImage" : "/interface/inventory/techempty.png"
    },
    "labeltech2" : {
      "type" : "label",
      "position" : [42, 163],
      "hAnchor" : "mid",
      "fontSize" : 7,
      "value" : "2",
      "color" : [230, 230, 230]
    },
    "tech2Selection" : {
      "type" : "image",
      "file" : "/interface/inventory/selectedtech.png",
      "position" : [41, 146]
    },
    "tech3" : {
      "type" : "itemslot",
      "position" : [72, 147],
      "backingImage" : "/interface/inventory/techempty.png"
    },
    "labeltech3" : {
      "type" : "label",
      "position" : [72, 163],
      "hAnchor" : "mid",
      "fontSize" : 7,
      "value" : "3",
      "color" : [230, 230, 230]
    },
    "tech3Selection" : {
      "type" : "image",
      "file" : "/interface/inventory/selectedtech.png",
      "position" : [71, 146]
    },
    "tech4" : {
      "type" : "itemslot",
      "position" : [102, 147],
      "backingImage" : "/interface/inventory/techempty.png"
    },
    "labeltech4" : {
      "type" : "label",
      "position" : [102, 163],
      "hAnchor" : "mid",
      "fontSize" : 7,
      "value" : "4",
      "color" : [230, 230, 230]
    },
    "tech4Selection" : {
      "type" : "image",
      "file" : "/interface/inventory/selectedtech.png",
      "position" : [101, 146]
    },
    "petslot1" : {
      "type" : "image",
      "file" : "/interface/inventory/techempty.png",
      "position" : [141, 147]
    },
    "labelpet1" : {
      "type" : "label",
      "position" : [141, 163],
      "hAnchor" : "mid",
      "fontSize" : 7,
      "value" : "1",
      "color" : [230, 230, 230]
    },
    "petslot2" : {
      "type" : "image",
      "file" : "/interface/inventory/techempty.png",
      "position" : [171, 147]
    },
    "labelpet2" : {
      "type" : "label",
      "position" : [171, 163],
      "hAnchor" : "mid",
      "fontSize" : 7,
      "value" : "2",
      "color" : [230, 230, 230]
    },
    "healthtext" : {
      "type" : "label",
      "position" : [163, 235],
      "hAnchor" : "mid",
      "value" : "set at runtime",
      "color" : [255, 255, 255]
    },
    "energytext" : {
      "type" : "label",
      "position" : [163, 218],
      "hAnchor" : "mid",
      "value" : "set at runtime",
      "color" : [255, 255, 255]
    },
    "defensetext" : {
      "type" : "label",
      "position" : [163, 184],
      "hAnchor" : "mid",
      "value" : "--",
      "color" : [255, 255, 255]
    },
    "weapontext" : {
      "type" : "label",
      "position" : [163, 201],
      "hAnchor" : "mid",
      "value" : "set at runtime",
      "color" : [255, 255, 255]
    },
    "trash" : {
      "type" : "itemslot",
      "position" : [177, 120],
      "backingImage" : "/interface/inventory/backingimagetrash.png"
    },
    "trashButton" : {
      "type" : "image",
      "file" : "/interface/inventory/sendtotrash.png",
      "position" : [99, 118]
    },
    "labelback" : {
      "type" : "label",
      "position" : [16, 247],
      "hAnchor" : "mid",
      "value" : "\u80CC\u90E8",
      "color" : [126, 117, 102]
    },
    "labelappearance" : {
      "type" : "label",
      "position" : [59, 247],
      "hAnchor" : "mid",
      "value" : "\u5916\u89C0",
      "color" : [126, 117, 102]
    },
    "labelarmor" : {
      "type" : "label",
      "position" : [110, 247],
      "hAnchor" : "mid",
      "value" : "\u88DD\u5099",
      "color" : [126, 117, 102]
    },
    "labelstats" : {
      "type" : "label",
      "position" : [166, 247],
      "hAnchor" : "mid",
      "value" : "\u6578\u503C",
      "color" : [126, 117, 102]
    },
    "labelpets" : {
      "type" : "label",
      "position" : [166, 172],
      "hAnchor" : "mid",
      "value" : "\u5BF5\u7269\u6B04",
      "color" : [126, 117, 102]
    },
    "labeltech" : {
      "type" : "label",
      "position" : [66, 172],
      "hAnchor" : "mid",
      "value" : "\u6280\u80FD\u6B04",
      "color" : [126, 117, 102]
    }
  }
}
