{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "persistent" : true
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/quests/questlog/header.png",
      "fileBody" : "/interface/quests/questlog/body.png",
      "fileFooter" : "/interface/quests/questlog/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [261, 247]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "\u4EFB\u52D9\u6E05\u55AE",
      "subtitle" : "\u7528\u4F86\u8FFD\u8E64\u4F60\u7684\u4EFB\u52D9 [J]",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/quests/quest.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/quests/questlog/shine.png",
      "position" : [0, 0],
      "zlevel" : -10
    },
    "imgDetails" : {
      "type" : "image",
      "file" : "/interface/quests/questlog/details.png",
      "position" : [3, 36]
    },
    "btnSetAsCurrent" : {
      "type" : "button",
      "base" : "/interface/quests/questlog/setAsCurrentUp.png",
      "hover" : "/interface/quests/questlog/setAsCurrentOver.png",
      "position" : [159, 48],
      "caption" : ""
    },
    "btnAbandon" : {
      "type" : "button",
      "base" : "/interface/quests/questlog/abandonUp.png",
      "hover" : "/interface/quests/questlog/abandonOver.png",
      "position" : [228, 48],
      "caption" : ""
    },
    "rewardItems" : {
      "type" : "itemgrid",
      "position" : [164, 66],
      "dimensions" : [5, 1],
      "spacing" : [22, 19],
      "callback" : "null",
      "backingImage" : "/interface/inventory/empty.png"
    },
    "labelMoney" : {
      "type" : "label",
      "position" : [175, 87],
      "fontSize" : 8,
      "value" : "\u734E\u52F5:",
      "color" : [155, 227, 214]
    },
    "imgMoney" : {
      "type" : "image",
      "file" : "/interface/quests/questlog/money.png",
      "position" : [218, 88]
    },
    "labelMoneyAmount" : {
      "type" : "label",
      "position" : [230, 87],
      "fontSize" : 8,
      "value" : "9999999",
      "color" : "white"
    },
    "labelQuestTitle" : {
      "type" : "wraplabel",
      "position" : [217, 220],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "width" : 111,
      "lineSpacing" : 1.0,
      "value" : "Secret of the Avian Troll Master",
      "color" : [155, 227, 214]
    },
    "labelQuestBody" : {
      "type" : "wraplabel",
      "position" : [163, 205],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "width" : 109,
      "lineSpacing" : 1.0,
      "value" : "quest body of the Secret of the Avian Troll Master quest bla",
      "color" : "white"
    },
    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 44, 156, 224],
      "children" : {
        "questList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/quests/questlog/entry_selected.png",
            "unselectedBG" : "/interface/quests/questlog/entry_bg.png",
            "spacing" : [1, 1],
            "memberSize" : [142, 19],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/quests/questlog/entry_bg.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "imageNew" : {
                "type" : "image",
                "file" : "/interface/quests/questlog/new.png",
                "position" : [2, 2]
              },
              "labelQuestEntry" : {
                "type" : "wraplabel",
                "position" : [70, 13],
                "hAnchor" : "mid",
                "vAnchor" : "mid",
                "width" : 100,
                "lineSpacing" : 1.0,
                "value" : " Secret of the Avian Troll Master",
                "color" : "white"
              }
            }
          }
        }
      }
    },
    "filter" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "position" : [3, 225],
          "baseImage" : "/interface/quests/questlog/inProgress.png",
          "hoverImage" : "/interface/quests/questlog/inProgressOver.png",
          "baseImageChecked" : "/interface/quests/questlog/inProgressSelected.png",
          "selected" : true,
          "data" : "inProgress"
        },
        {
          "position" : [56, 225],
          "baseImage" : "/interface/quests/questlog/completed.png",
          "hoverImage" : "/interface/quests/questlog/completedOver.png",
          "baseImageChecked" : "/interface/quests/questlog/completedSelected.png",
          "data" : "completed"
        },
        {
          "position" : [105, 225],
          "baseImage" : "/interface/quests/questlog/failed.png",
          "hoverImage" : "/interface/quests/questlog/failedOver.png",
          "baseImageChecked" : "/interface/quests/questlog/failedSelected.png",
          "data" : "failed"
        }
      ]
    }
  }
}
