{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "persistent" : true
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/songbook/header.png",
      "fileBody" : "/interface/songbook/body_blank.png",
      "fileFooter" : "/interface/songbook/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [143, 252]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "\u6A02\u66F2\u6B4C\u672C",
      "subtitle" : "\u9EDE\u6B4C\u4E86!",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/songbook/iconSongbook.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "scrollBG" : {
      "type" : "image",
      "file" : "/interface/songbook/scrollbg.png",
      "position" : [2, 29],
      "zlevel" : -5
    },
    "lblSong" : {
      "type" : "label",
      "position" : [77, 235],
      "hAnchor" : "mid",
      "value" : "\u9078 \u64C7 \u6A02 \u66F2",
      "color" : [127, 127, 127]
    },
    "songs" : {
      "type" : "scrollArea",
      "rect" : [5, 94, 155, 222],
      "children" : {
        "list" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/songbook/songselected.png",
            "unselectedBG" : "/interface/songbook/songbackground.png",
            "spacing" : [0, 1],
            "memberSize" : [136, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/songbook/songbackground.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "songName" : {
                "type" : "wraplabel",
                "position" : [30, 6],
                "hAnchor" : "left",
                "width" : 116,
                "value" : "Replace Me"
              }
            }
          }
        }
      }
    },
    "group" : {
      "type" : "textbox",
      "position" : [54, 62],
      "hint" : "\u55AE\u7368\u6F14\u594F",
      "maxWidth" : 50
    },
    "lblBand" : {
      "type" : "label",
      "position" : [78, 74],
      "hAnchor" : "mid",
      "value" : "\u8F38\u5165\u6A02\u5718\u540D\u7A31",
      "color" : [127, 127, 127]
    },
    "lblBandInput" : {
      "type" : "image",
      "file" : "/interface/songbook/band.png",
      "position" : [39, 58],
      "zlevel" : -3
    },
    "lblBandPlayback" : {
      "type" : "label",
      "position" : [78, 48],
      "hAnchor" : "mid",
      "value" : "\u4F86\u4E00\u8D77\u6F14\u594F\u5427!",
      "color" : [127, 127, 127]
    },
    "btnPlay" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [50, 28],
      "caption" : "\u64A5\u653E"
    }
  }
}
