{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "persistent" : true
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/streamingvideo/header.png",
      "fileBody" : "/interface/streamingvideo/body.png",
      "fileFooter" : "/interface/streamingvideo/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [249, 206]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "VIDEO STREAMING OPTIONS",
      "subtitle" : "Streaming Options [F6]",
      "position" : [2, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/streamingvideo/icon.png",
        "position" : [0, -1],
        "zlevel" : -1
      }
    },
    "btnStart" : {
      "type" : "button",
      "base" : "/interface/streamingvideo/buttonup.png",
      "hover" : "/interface/streamingvideo/buttonover.png",
      "caption" : "Start",
      "position" : [10, 56]
    },
    "btnStop" : {
      "type" : "button",
      "base" : "/interface/streamingvideo/buttonup.png",
      "hover" : "/interface/streamingvideo/buttonover.png",
      "caption" : "Stop",
      "position" : [10, 36]
    },
    "lblErrors" : {
      "type" : "wraplabel",
      "position" : [10, 83],
      "hAnchor" : "left",
      "width" : 220
    },
    "lblStatus" : {
      "type" : "wraplabel",
      "position" : [10, 103],
      "hAnchor" : "left",
      "width" : 220
    },
    "lblHint" : {
      "type" : "wraplabel",
      "position" : [10, 183],
      "hAnchor" : "left",
      "width" : 220,
      "value" : "See streamingvideo.config for options"
    }
  }
}
