{
  "mouseOffsetMember" : [40, -50],
  "mouseOffsetLeader" : [40, -50],
  "paneLayoutMember" : {
    "panefeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "persistent" : true
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/party/tooltipheader.png",
      "fileBody" : "/interface/party/tooltipbody2.png",
      "fileFooter" : "/interface/party/footer2.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " - \u6CE8\u3000\u610F - ",
      "subtitle" : "",
      "size" : 12,
      "position" : [0, 254]
    },
    "beamToShip" : {
      "type" : "button",
      "base" : "/interface/party/beamtoship.png",
      "hover" : "/interface/party/beamtoship.png",
      "position" : [3, 28],
      "caption" : ""
    },
    "name" : {
      "type" : "label",
      "position" : [51, 40],
      "hAnchor" : "mid",
      "color" : [255, 255, 255]
    }
  },
  "paneLayoutLeader" : {
    "panefeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "persistent" : true
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/party/tooltipheader.png",
      "fileBody" : "/interface/party/tooltipbody.png",
      "fileFooter" : "/interface/party/tooltipfooter.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " - \u6CE8\u3000\u610F - ",
      "subtitle" : "",
      "size" : 12,
      "position" : [0, 254]
    },
    "beamToShip" : {
      "type" : "button",
      "base" : "/interface/party/beamtoship.png",
      "hover" : "/interface/party/beamtoship.png",
      "position" : [3, 28],
      "caption" : ""
    },
    "makeLeader" : {
      "type" : "button",
      "base" : "/interface/party/makeleaderbutton.png",
      "hover" : "/interface/party/makeleaderbutton.png",
      "position" : [3, 17],
      "caption" : ""
    },
    "removeFromTeam" : {
      "type" : "button",
      "base" : "/interface/party/removebutton.png",
      "hover" : "/interface/party/removebutton.png",
      "position" : [3, 3],
      "caption" : ""
    },
    "name" : {
      "type" : "label",
      "position" : [51, 41],
      "hAnchor" : "mid",
      "color" : [255, 255, 255]
    }
  }
}
