{
  "portraitScale" : 1.5,
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "keyDismissable" : false,
      "persistent" : true,
      "anchor" : "TopLeft"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "",
      "fileFooter" : ""
    },
    "inviteButton" : {
      "type" : "button",
      "base" : "/interface/party/invite.png",
      "position" : [0, -36]
    },
    "leaveButton" : {
      "type" : "button",
      "base" : "/interface/party/leave.png",
      "position" : [0, -36]
    },
    "list" : {
      "type" : "container",
      "position" : [0, -85]
    }
  },
  "offset" : [0, -40],
  "compass" : "/interface/party/compass.png",
  "entry" : {
    "backing" : {
      "zlevel" : 1,
      "type" : "image",
      "file" : "/interface/party/portraitparty.png",
      "position" : [0, 0]
    },
    "portrait" : {
      "zlevel" : 2,
      "type" : "image",
      "file" : "",
      "position" : [16, 8],
      "scissoring" : false
    },
    "overlay" : {
      "zlevel" : 3,
      "type" : "image",
      "file" : "/interface/party/portraitparty-overportrait.png",
      "position" : [0, 0]
    },
    "leader" : {
      "zlevel" : 4,
      "type" : "image",
      "file" : "/interface/party/partylead.png",
      "position" : [0, 25]
    },
    "compass" : {
      "zlevel" : 5,
      "type" : "image",
      "file" : "",
      "centered" : false,
      "position" : [5, 5],
      "scissoring" : false
    },
    "compassoffworld" : {
      "zlevel" : 6,
      "type" : "image",
      "file" : "/interface/party/compassoffworld.png",
      "position" : [0, 0]
    },
    "healthBar" : {
      "zlevel" : 7,
      "type" : "progress",
      "position" : [30, 3],
      "background" : "/interface/party/emptybar.png",
      "progressSet" : {
        "inner" : "/interface/party/healthbar.png",
        "type" : "repeat"
      },
      "direction" : "vertical"
    },
    "energyBar" : {
      "zlevel" : 8,
      "type" : "progress",
      "position" : [35, 3],
      "background" : "/interface/party/emptybar.png",
      "progressSet" : {
        "inner" : "/interface/party/energybar.png",
        "type" : "repeat"
      },
      "direction" : "vertical"
    },
    "click" : {
      "zlevel" : 9,
      "type" : "button",
      "position" : [0, 0],
      "size" : [100, 40],
      "invisible" : true,
      "pressedOffset" : [0, 1]
    }
  }
}
