{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "persistent" : true
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/party/header.png",
      "fileBody" : "/interface/party/body2.png",
      "fileFooter" : "/interface/party/footer.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " - \u6CE8\u3000\u610F - ",
      "subtitle" : "",
      "size" : 12,
      "position" : [0, 254]
    },
    "ok" : {
      "type" : "button",
      "base" : "/interface/popup/acceptup.png",
      "hover" : "/interface/popup/acceptover.png",
      "position" : [24, 25],
      "caption" : ""
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/popup/declineup.png",
      "hover" : "/interface/popup/declineover.png",
      "position" : [79, 25],
      "caption" : ""
    },
    "teamLeader" : {
      "type" : "label",
      "position" : [80, 66],
      "hAnchor" : "mid",
      "color" : [0, 255, 0],
      "text" : "Red Leader"
    }
  }
}
