{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "persistent" : true
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/party/header.png",
      "fileBody" : "/interface/party/body.png",
      "fileFooter" : "/interface/party/footer.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " - \u6CE8\u3000\u610F - ",
      "subtitle" : "",
      "size" : 12,
      "position" : [0, 254]
    },
    "ok" : {
      "type" : "button",
      "base" : "/interface/popup/inviteup.png",
      "hover" : "/interface/popup/inviteover.png",
      "position" : [94, 27],
      "caption" : ""
    },
    "name" : {
      "type" : "textbox",
      "position" : [71, 48],
      "hint" : "\u73A9\u5BB6\u540D\u7A31",
      "enterKey" : "ok",
      "escapeKey" : "close",
      "maxWidth" : 72
    }
  }
}
