{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "persistent" : true
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/tech/techheader.png",
      "fileBody" : "/interface/tech/techbody.png",
      "fileFooter" : "/interface/tech/techfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [249, 206]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "",
      "subtitle" : "",
      "position" : [2, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/tech/techicon.png",
        "position" : [-1, -1],
        "zlevel" : -1
      }
    },
    "lblTech" : {
      "type" : "label",
      "position" : [65, 189],
      "hAnchor" : "mid",
      "value" : "\u6280 \u80FD",
      "color" : [127, 127, 127]
    },
    "lblDescription" : {
      "type" : "label",
      "position" : [219, 189],
      "hAnchor" : "mid",
      "value" : "\u6280 \u80FD \u8AAA \u660E",
      "color" : [127, 127, 127]
    },
    "lblTechSlots" : {
      "type" : "label",
      "position" : [219, 84],
      "hAnchor" : "mid",
      "value" : "\u6280 \u80FD \u69FD",
      "color" : [127, 127, 127]
    },
    "btnSlot1" : {
      "type" : "button",
      "base" : "/interface/tech/lockinUnselected.png",
      "hover" : "/interface/tech/lockinSelected.png",
      "position" : [161, 36]
    },
    "itemSlot1" : {
      "type" : "itemslot",
      "position" : [164, 59],
      "callback" : "null"
    },
    "btnSlot2" : {
      "type" : "button",
      "base" : "/interface/tech/lockinUnselected.png",
      "hover" : "/interface/tech/lockinSelected.png",
      "position" : [191, 36]
    },
    "itemSlot2" : {
      "type" : "itemslot",
      "position" : [194, 59],
      "callback" : "null"
    },
    "btnSlot3" : {
      "type" : "button",
      "base" : "/interface/tech/lockinUnselected.png",
      "hover" : "/interface/tech/lockinSelected.png",
      "position" : [221, 36]
    },
    "itemSlot3" : {
      "type" : "itemslot",
      "position" : [224, 59],
      "callback" : "null"
    },
    "btnSlot4" : {
      "type" : "button",
      "base" : "/interface/tech/lockinUnselected.png",
      "hover" : "/interface/tech/lockinSelected.png",
      "position" : [251, 36]
    },
    "itemSlot4" : {
      "type" : "itemslot",
      "position" : [254, 59],
      "callback" : "null"
    },
    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 39, 138, 175],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/tech/craftableselected.png",
            "unselectedBG" : "/interface/tech/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [133, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/tech/craftablebackground.png",
                "position" : [1, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "wraplabel",
                "position" : [22, 11],
                "hAnchor" : "left",
                "width" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [2, 1],
                "callback" : "null"
              }
            }
          }
        }
      }
    },
    "description" : {
      "type" : "widget",
      "position" : [100, 50],
      "size" : [200, 220]
    }
  }
}
