{
  "resolutionList" : [
    [832, 624],
    [960, 640],
    [960, 720],
    [1024, 640],
    [1024, 600],
    [1024, 768],
    [1024, 800],
    [1024, 1024],
    [1120, 832],
    [1136, 640],
    [1152, 720],
    [1152, 768],
    [1152, 864],
    [1152, 900],
    [1280, 720],
    [1280, 768],
    [1280, 800],
    [1280, 854],
    [1280, 960],
    [1280, 1024],
    [1366, 768],
    [1440, 900],
    [1440, 960],
    [1400, 1050],
    [1440, 1024],
    [1440, 1080],
    [1600, 768],
    [1600, 900],
    [1600, 1024],
    [1680, 1050],
    [1600, 1200],
    [1920, 1080],
    [1920, 1200],
    [2560, 1440]
  ],
  "zoomList" : [
    2,
    3,
    4
  ],
  "sfxDelta" : 5,
  "musicDelta" : 5,
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "persistent" : true
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/optionsmenu/header.png",
      "fileBody" : "/interface/optionsmenu/body_blank.png",
      "fileFooter" : "/interface/optionsmenu/footer.png"
    },
    "volumeLabel" : {
      "type" : "label",
      "position" : [119, 200],
      "hAnchor" : "mid",
      "value" : "\u97F3\u91CF\u63A7\u5236"
    },
    "sfxLabel" : {
      "type" : "label",
      "position" : [35, 185],
      "value" : "\u97F3\u6548"
    },
    "sfxValueLabel" : {
      "type" : "label",
      "position" : [192, 185],
      "hAnchor" : "mid",
      "value" : "\u97F3\u6548"
    },
    "musicLabel" : {
      "type" : "label",
      "position" : [35, 170],
      "value" : "\u97F3\u6A02"
    },
    "musicValueLabel" : {
      "type" : "label",
      "position" : [192, 170],
      "hAnchor" : "mid",
      "value" : "\u97F3\u6A02"
    },
    "resLabel" : {
      "type" : "label",
      "position" : [119, 155],
      "hAnchor" : "mid",
      "value" : "\u5168\u87A2\u5E55\u89E3\u6790\u5EA6"
    },
    "resValueLabel" : {
      "type" : "label",
      "position" : [119, 126],
      "hAnchor" : "mid",
      "value" : "\u5168\u87A2\u5E55\u89E3\u6790\u5EA6"
    },
    "zoomLabel" : {
      "type" : "label",
      "position" : [58, 113],
      "hAnchor" : "mid",
      "value" : "\u7E2E\u653E\u7B49\u7D1A"
    },
    "zoomValueLabel" : {
      "type" : "label",
      "position" : [102, 100],
      "hAnchor" : "mid",
      "value" : "\u7E2E\u653E\u7B49\u7D1A"
    },
    "speechBubbleLabel" : {
      "type" : "label",
      "position" : [57, 85],
      "hAnchor" : "mid",
      "value" : "\u986F\u793A\u5C0D\u8A71\u6C23\u6CE1\u6846"
    },
    "speechBubbleCheckbox" : {
      "type" : "button",
      "position" : [99, 87],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "checkable" : true
    },
    "fullscreenLabel" : {
      "type" : "label",
      "position" : [57, 74],
      "hAnchor" : "mid",
      "value" : "\u5168\u87A2\u5E55"
    },
    "fullscreenCheckbox" : {
      "type" : "button",
      "position" : [99, 76],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "checkable" : true
    },
    "backButton" : {
      "type" : "button",
      "position" : [42, 11],
      "base" : "/interface/optionsmenu/backup.png",
      "hover" : "/interface/optionsmenu/backover.png"
    },
    "acceptButton" : {
      "type" : "button",
      "position" : [140, 11],
      "base" : "/interface/optionsmenu/acceptup.png",
      "hover" : "/interface/optionsmenu/acceptover.png"
    },
    "sfxSlider" : {
      "type" : "slider",
      "position" : [62, 185],
      "gridImage" : "/interface/optionsmenu/largeselection.png"
    },
    "musicSlider" : {
      "type" : "slider",
      "position" : [62, 169],
      "gridImage" : "/interface/optionsmenu/largeselection.png"
    },
    "resSlider" : {
      "type" : "slider",
      "position" : [62, 139],
      "gridImage" : "/interface/optionsmenu/largeselection.png"
    },
    "zoomSlider" : {
      "type" : "slider",
      "position" : [26, 99],
      "gridImage" : "/interface/optionsmenu/smallselection.png"
    }
  }
}
